:root {
  --foreground: #ffffff;
  --background: #171717;
  --background-sec: #ba9007;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.page {
  position: relative;
  width: 100%;
  padding-inline: 20px;
}

.disable {
  display: none;
}

.table__crypto {
  width: 80%;
  border-collapse: collapse;
  margin-inline: auto;

  th, td {
    border: 1px solid var(--foreground);
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: var(--background-sec);
    color: var(--background);
  }

  td:nth-child(2) {
    color: var(--background-sec);
  }
  
  tr {
    display: grid;
    grid-template-columns: 50px minmax(auto, 300px) repeat(4, 1fr);
  }
}